<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-1 fixed-top">
        
            <div class="container">
              <a href="#" class="navbar-brand">Recipes Core Assignment</a>
      
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
      
              <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a href="/recipes/new" class="nav-link">Create</a>
                  </li>
                  <li class="nav-item">
                    <a href="/logout" class="nav-link">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>


        <section class="py-5"></section>
        
        <section>
            <div class="container">
              <div class="row g-5">
                <div class="col">
                    <div class="h1 text-secondary text-start my-5">Welcome {{user['first_name']}}</div>
                    <div class="h3 text-secondary text-start my-5">All recipes:</div>

                    <table class="table table-striped table-bordered table-hover fs-5 text-center my-5">
                        <thead class="table-dark">
                            <tr>
                                <th>Name</th>
                                <th>Under 30 min</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="recipes-tbody">
                            
                            {% for recipe in recipes %}
                            <tr>
                                <td>{{recipe['name']}}</td>
                                <td>{{recipe['under_30min']}}</td>
                                <td class="d-flex flex-row justify-content-evenly"> 
                                        <a class="text-dark fw-b" href="/recipes/{{recipe['id']}}">View Instructions</a>
                                        {% if recipe['user_id'] == session['user_id'] %}
                                        <form class="recipe-delete">
                                            <input type="hidden" name="id" value="{{recipe['id']}}">
                                            <a class="text-dark fw-b" href="/recipes/{{recipe['id']}}">Edit</a>
                                            <input type="submit" class="text-dark fw-b border-0 bg-transparent text-decoration-underline" value="Delete"></button>
                                        </form>
                                        {% endif %}
                                    
                                </td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col">
                  <div class="text-primary h1 my-5">Add New Recipe</div>
                  <form class="form addRecipe">
                      <div class="messages"></div>
                      <div class="form-group my-3">
                          <label for="name" class="form-label">Name</label>
                          <input type="text" name="name" class="form-control">
                      </div> 
  
                      <div class="form-group my-3">
                          <label for="description" class="form-label">Description</label>
                          <textarea name="description" class="form-control"></textarea>
                      </div> 
  
                      <div class="form-group my-3">
                          <label for="instructions" class="form-label">Instructions</label>
                          <textarea name="instructions" class="form-control"></textarea>
                      </div> 

                      <div class="form-group my-3">
                          <label for="made_on" class="form-label">Date Made On:</label>
                          <input type="date" name="made_on" class="form-control">
                      </div>
  
                      <div class="form-group my-3 text-center">
                          <p>Under 30 min?</p>
                          <div class="d-flex flex-row justify-content-center align-items-center">
                              <input type="radio" name="under_30min" value = "Yes" class="under_30min form-check-input mx-3">
                              <label class="form-check-label" for="Yes">Yes</label>
                              <input type="radio" name="under_30min" value = "No" class="under_30min form-check-input mx-3">
                              <label class="form-check-label" for="No">No</label>
                          </div>

                      </div>

                      <div class="form-group text-center">
                          <input type="submit" value="Create" class="btn btn-primary px-5 my-3">
                      </div>

                  
                  </form>
                      
                      


                </div>

              </div>
            </div>
        </section>

 

        <section class="py-5 my-5"></section>

        <footer class="col-12 p-1 bg-dark text-white text-center position-fixed bottom-0">
              <p class="lead">Coding Dojo Web Dev Bootcamp</p>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{url_for('static',filename='main.js')}}"></script>
    </body>
</html>



